{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}
{% set pageTitle = 'oro.call.entity_plural_label'|trans %}
{% set gridName = 'calls-grid' %}

{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% if is_granted('oro_call_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('oro_call_create'),
                'title' : 'oro.call.log_call'|trans,
                'label' : 'oro.call.log_call'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
